li:first-child {
    font-weight: bold;
}

a:last-child {
    color: rgb(244, 3, 3);
}

input:disabled {
    background-color: rgb(115, 115, 115);
}

div > p {
    font-weight: bold;
}

*[href^="https"] {
    color: rgb(2, 106, 2);
}

input[type="text"] {
    border: 1px solid rgb(10, 10, 253);
}

li:first-child,
li:last-child {
    font-size: 24px;
}

div p {
    font-size: 16px;
}

input:checked {
    background-color: rgb(167, 214, 229);
}

li > a {
    text-decoration: underline;
}

li:nth-child(even) {
    font-weight: bold;
}

input[type="text"]:not([disabled]) {
    background-color: #c6c4c4a7;
}

p:first-child {
    font-size: 24px;
}

.special + li {
    text-decoration: line-through;
}

p::first-letter {
    text-decoration: underline;
    font-size: 36px;
}

a::after {
    content: " ↗";
}